{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2><i class="fas fa-chart-bar"></i> Productivity Analytics</h2>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Task Status Distribution</h5>
                <div id="statusChart" style="height: 300px;"></div>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Tasks by Priority</h5>
                <div id="priorityChart" style="height: 300px;"></div>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Daily Completion Trend</h5>
                <div id="completionChart" style="height: 300px;"></div>
            </div>
        </div>
    </div>
</div>

<script>
    // Render charts from Flask data
    const statusChart = {{ charts.status_chart|safe }};
    const priorityChart = {{ charts.priority_chart|safe }};
    const completionChart = {{ charts.completion_chart|safe }};
    
    Plotly.newPlot('statusChart', statusChart.data, statusChart.layout);
    Plotly.newPlot('priorityChart', priorityChart.data, priorityChart.layout);
    Plotly.newPlot('completionChart', completionChart.data, completionChart.layout);
</script>
{% endblock %}